header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

.header__container h1 {
    color: rgb(97, 74, 119);
    font-size: 2rem;
}
/* CTA */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* header social */
.header__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__social::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/*------------------------ 이미지 ==================*/

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 50rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 25rem);
    margin-top: 4rem;
    
    padding: 4rem 1.5rem 1.5rem 1.5rem;
}

/*------------------------ 스크롤다운 ==================*/

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(0);
    font-weight: 300;
    font-size: 2.5rem;
}

/*              중간 미디어 쿼리                      */

@media screen and (max-width:1024px) {
    header{
        height: 68vh;
    }
}
/*              작은 미디어 쿼리                      */

@media screen and (max-width:600px) {
header{
    height: 100vh;
}
.header__social,
.scroll__down {
    display: none;
}
}